/*
Theme Name: Ort Gallery
Author: Ian Jones
Author URI: http://ianjo.uk/
Description: Custom theme for Ort Gallery, first published 11/11/2017
Version: 1.3
*/

/*
 * Index
 *
 * 1.  Base typography
 * 2.  Base grid
 * 3.  Header
 * 4.  Navigation
 * 5.  Hero
 * 6.  Page styles
 * 7.  Content blocks
 * 8.  Gallery
 * 9.  Footer
 * 10.  Forms
 * 11.  Generic styles
 *
*/

/* ==========================================================================
   * 1.  Base typography
   ========================================================================== */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
   font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

p {
   font-size: 1em;
   line-height: 1.4;
}

p a {
   color: #2F5E85;
}

article p {
   font-size: 1.2em;
   line-height: 1.66;
}

a {
   color: #2F5E85;	
}

strong {
   color: #2F5E85;
}

em {
  font-style: italic;
}

ul {
}

ul li {
}

ol {
}

ol li {
}

h1,
h2,
h3,
h4,
h5 {
}

h1 {
   margin: 0;
   padding: 0;
}

h2 {
   font-size: 1.25em;
   font-weight: 700;
   margin: 0;
}

article h2 {
   margin: 2em 0 1.5em;
}

h3 {
   font-size: 1.1em;
   font-weight: 700;
   margin: 0;
   font-style: italic;
   color: #2F5E85;
}

.summary h3 {
  line-height: 1.2;
  padding-bottom: 4px;
}

h3 a {
   text-decoration: none;
}

h3 a:hover {
   text-decoration: underline;
}

h4 {
   font-size: 1.1em;
   font-weight: 700;
}

article h4 {
   font-size: 1.25em;
}

h5 {
}

blockquote {
  margin: 1.5em 40px;
}

.hero-summary .meta {
   font-size: 1.2em;
}

.card .summary .meta {
   font-size: 1em;
}

aside .meta {
   font-size: 1.1em;
}

.date {
   font-size: 0.875em;
   margin: 1.5em 0 0;
   display: block;
}

.hero-tabs .date {
   margin-top: 0.5em;
}

article ul {
   margin: 1.5em;
   padding: 0;
   font-size: 1.2em;
   line-height: 1.6;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 768px) {
  h1 {
   display: block;
   width: 100%;
   text-align: center;
  }
  article p,
  article ul {
   font-size: 1.1em;
   line-height: 1.6;
  }

}

@media only screen and (max-width: 480px) {
  article p,
  article ul {
   font-size: 1em;
   line-height: 1.6;
  }
  .date {
   margin: 1.15em 0 0;
  }
}

@media only screen and (max-width: 320px) {
}



/* ==========================================================================
   * 2.  Base grid
   ========================================================================== */

html,
body {
   height: 100%;
}

body {
	background: #FFFFFF;
}

body * {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box; 
}

#container {
   background: #000000;
   min-height: 100%;
}

#container,
header,
.hero,
.content,
footer {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	max-width: 1280px;
	height: auto;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	padding: 0 40px;
}

.grid {

}

.one-col,
.two-col,
.half-col,
.full-col {
   float: left;
}

.one-col {
   width: 31.667%;
}

.two-col {
   width: 68.333%;
}

.half-col {
   width: 50%;
}

.full-col {
   width: 100%;
}

.summary {
   padding: 30px;
   width: 100%;
   float: left;
}

.full-col .summary {
   padding: 30px 0;
}

img {
   max-width: 100%;
   height: auto;
}


@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 768px) {
   .wrapper {
      padding: 0 30px;
   }
   .one-col,
   .two-col,
   .half-col {
      width: 100%;
   }

}

@media only screen and (max-width: 480px) {
  .wrapper {
    padding: 0 15px;
  }
  .summary {
   padding: 20px;
  }
}

@media only screen and (max-width: 320px) {
}


   
/* ==========================================================================
   * 3.  Header
   ========================================================================== */
   
header {
   background: #FFF36B;
   min-height: 200px;

}

.logo {
   width: 145px;
   height: auto;
   float: left;
   margin: 44px 0 0;
   -webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
   -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.logo:hover {
   opacity: 0.6;
   -webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}


@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 768px) {
  .logo {
     width: 130px;
     height: auto;
     float: none;
     margin: 28px auto 14px;
  } 
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}



/* ==========================================================================
   * 4.  Navigation
   ========================================================================== */
   
nav {
   float: right;
   margin: 58px 0 0;
}

nav ul.nav {
   list-style-type: none;
   font-size: 1.05em;
   margin: 1em 0 0;
   padding: 0 0 10px 0;
   float:right;
   clear: both;
}

nav ul.nav li {
   display: inline;
   padding: 0 0 0 35px;
}

nav ul.nav li a {
   text-decoration: none;
   color: #221F20;
   position: relative;
}

nav ul.nav li a:after {
   text-align: center;
   font-size: 0.875em;
   color: #221F20;
   content: '\2022';
   display: block;
   width: 100%;
   position: absolute;
   left: 0; 
   top: 17px;
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}

nav ul.nav li a:hover {
}

nav ul.nav li a:hover:after,
nav ul.nav li.current-menu-item a:after,
nav ul.nav li.current-page-ancestor a:after,
.single-exhibitions li.menu-item-175 a:after,
.single-opportunities li.menu-item-178 a:after,
.single-workshops li.menu-item-181 a:after, 
.single-events li.menu-item-176 a:after {
    opacity: 1;
}

.sm-icons {
   float:right;
   margin: 0;
   padding: 0;
   clear: both;
}

.sm-icons ul {
   margin: 2em 0 0;
   padding: 0;
}

.sm-icons ul li {
   display: inline;
   margin-left: 6px;
   padding: 0;
   text-align: left;
}

.sm-icons ul li a {
   display: inline-block;
   width: 30px;
   height: 30px;
   opacity: 0.9;
   -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
   -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.sm-icons ul li a:hover {
  -webkit-transform:translate(0px,-3px);
  -moz-transform:translate(0px,-3px);
  -ms-transform:translate(0px,-3px);
  -o-transform:translate(0px,-3px);
  transform:translate(0px,-3px);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
  opacity: 1;
}

.sm-icons ul li a.sm-icon-facebook {
   background: url('../ortgallery/images/sm-facebook.png') no-repeat;
   background-size: contain;
}

.sm-icons ul li a.sm-icon-twitter {
   background: url('../ortgallery/images/sm-twitter.png') no-repeat;
   background-size: contain;
}

.sm-icons ul li a.sm-icon-instagram {
   background: url('../ortgallery/images/sm-instagram.png') no-repeat;
   background-size: contain;
}

.secondary-nav {
   padding: 22px 0 12px;
   border-bottom: 1px solid #eee;
}

.secondary-nav nav {
   float: left;
   margin: 0;
}

.secondary-nav nav ul {
   font-size: 1em;
   padding-bottom: 10px;
   margin: 0;
}

.secondary-nav nav ul li {
   padding: 0 25px 0 0;
}

.secondary-nav nav ul li a:after {
   top: 16px;
}

.secondary-nav nav ul li.current-page-ancestor a:after {
    opacity: 0;
}

.device-nav {
  display: none;
  cursor: pointer;
  clear: both;
  width: 100%;
  text-align: center;
}

.device-nav .inner {
  float: none;
  width: 106px;
  margin: 0 auto;
}

.device-nav div.text {
  float: left;
  font-size: 1.1em;
  line-height: 1;
  padding: 18px 0;
  margin: 0;
  font-weight: 400;
}

.hamburger {
  padding: 15px 10px 5px;
  float: left;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  padding-top: 20px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; 
}

.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.3s 0s ease-out, top 0.3s 0s ease-out, opacity 0s linear;
}

.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.15s ease-out, top 0.15s ease-out, opacity 0s 0.15s linear; 
}

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0;
}

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0;
}

     
@media only screen and (max-width: 1200px) {
   nav {
      float: left;
      margin: 10px 0 10px;
      clear: both;
   }
   .secondary-nav nav ul {
     padding-bottom: 0;
   }
   .main-menu nav ul.nav {
      margin: 0.5em 0 0;
   }
   .secondary-nav {
      padding: 12px 0;
   }
   nav ul.nav,
   .sm-icons {
      float: left;
   }
   .sm-icons ul li {
      margin-left: 0;
      margin-right: 6px;
   }  
   nav ul.nav li {
      display: inline-block;
      padding: 12px 30px 12px 0;
   }
}

@media only screen and (max-width: 768px) {
  .device-nav {
    display: block;
  }
  .sm-icons {
    display: none;
  }
  nav.main-menu {
    max-height: 0;
    overflow: hidden;
    clear: both;
    display: block;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    margin: 0.5em 0 0;
  }
  nav.main-menu,
  nav.main-menu ul.nav,
  nav.main-menu ul.nav li,
  nav.main-menu ul.nav li a {
    display: block;
    width: 100%;
  }
  nav.main-menu ul.nav {
    margin: 0;
    font-size: 1.1em;
    padding: 10px 0;
  }
  nav.main-menu ul.nav li {
    margin: 0;
    text-align: center;
    border-top: 1px solid #555;
    padding: 0;
  }
  nav.main-menu ul.nav li:last-child {
    border-bottom: 1px solid #555;
    margin-bottom: 15px;
  }
  nav.main-menu ul.nav li a {
    padding: 12px 0;
    display: block;
  }
  nav.reveal {
    max-height: 500px;
  }
  nav.main-menu ul.nav li a:after {
    content: none;
  }
  .secondary-nav nav,
  .secondary-nav nav ul {
    float: none;
    width: 100%;
  }
  .secondary-nav nav ul {
     padding-bottom: 7px;
     text-align: center;
   }
  .secondary-nav nav ul li {
   padding: 1em 10px 0.5em;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}



/* ==========================================================================
   * 5.  Hero
   ========================================================================== */
   
.hero {
   padding: 60px 0;
   background: #FFFFFF;
}

.hero-container {
   width: 100%;
   height: auto;
   overflow: hidden;
   position: relative;
}

.hero-title {
   position: absolute;
   left: 68.333%;
   padding: 10px 30px 30px;
   display: block;
}

.hero-summary {
   position: absolute;
   right: 0;
   bottom: 0;
}

.hero-summary.full-col {
   position: relative;
}

.hero-summary.slick-slider {
  position: absolute;
  right: 0;
  bottom: 0;
}

.hero-container .summary { 
  border-bottom: 1px solid #221F20;
  position: relative;
  display: block;
}

.hero-tabs-nav .summary {
   cursor: pointer;
   outline: none;
   position: relative;
   z-index: 30;
}

.hero-tabs-nav .summary > div {
   opacity: 0.5;
   -webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}

.hero-tabs-nav .summary.slick-current,
.hero-tabs-nav .slick-tab-single:only-child { 
   cursor: initial;
}

.hero-tabs-nav .summary.slick-current > div,
.hero-tabs-nav .slick-tab-single:only-child > div { 
   opacity: 1;
}

.hero-summary h3 {
   font-size: 1.25em;
   line-height: 1.2;
}

.img-contain {
   position: relative;  
   display: block;
}

.img-contain > div {
   float: left;
   width: 100%;
   padding-bottom: 66.6666%;
   height: 0;
   overflow: hidden;
   border-bottom: none;
   position: relative;
   display: block;
}

.img-contain img {
   object-fit: cover;
   min-width: 100%;
   max-width: 100%;
   min-height: 100%;
   margin: 0;
   height: auto;
   position: absolute;
}

.tab-overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 100;
   top: 0;
   left: 0;
   background: url(../ortgallery/images/blank.png) repeat;
}

.summary.slick-current .tab-overlay,
.hero-tabs-nav .slick-tab-single:only-child .tab-overlay {
   display: none;
}


@media only screen and (max-width: 1200px) {
  .hero {
    padding: 50px 0;
  }
  .hero-title {
     position: relative;
     left: 0;
     padding: 0 0 50px 0;
     display: block;
  }
  .hero-tabs .hero-img {
    width: 100%;
  }
  .hero-summary.slick-slider {
    position: relative;
    width: 100%;
  }
  .hero-tabs-nav .summary {
    float: left;
    border-bottom: 0;
    min-height: 50px;
    border-left: 1px solid #221F20;
    padding-bottom:0 ;
  }
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 40px 0;
  }
  .hero-title {
     padding: 0 0 40px 0;
  }
  .hero-summary,
  .hero-summary.slick-slider {
    position: relative;
  }
  .hero-container .summary { 
    border-bottom: none;
    border-left: 1px solid #221F20;
    padding-bottom: 0;
  }
  .hero-container .full-col .summary {
    border-left: none;
    border-bottom: 1px solid #221F20;
  }
  .hero-container .half-col {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .hero-title {
     padding: 0 0 30px 0;
  }
}

@media only screen and (max-width: 320px) {
}   


   
/* ==========================================================================
   * 6.  Page styles
   ========================================================================== */   

.content {
   background: #FFFFFF;
}

.three-col-grid {
   width: 100%;
   height: auto;
}

.three-col-grid .card {
   float: left;
   margin-right: 2.5%;
   margin-bottom: 60px;
}

.three-col-grid .card:nth-child(3n){
   margin-right: 0;
}

.three-col-grid .card:nth-child(3n+1) {
   clear: both;  
}

.three-col-grid .card .summary {
   border-left: 1px solid #221F20;
   padding-bottom: 0;
}

.home-grid .card .summary {
   position: relative;
   padding-bottom: 50px;
   min-height: 246px;
}

.home-grid h2 {
   margin: 0 0 1.7em;
}

.home-grid .card-link {
   position: absolute;
   bottom: 0;
}

.single-grid {
  padding-top: 10px;
  clear: both;
}

.single-grid .card {
  float: left;
  margin: 20px 0;
  position:relative;
}

.single-grid .card img {
  width: 50%;
}

.single-grid .card .summary {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  float: none;
  border-bottom: 1px solid #221F20;
}

.single-grid .noimg .summary {
  position: relative;
  width: 100%;
}

.two-col-grid {
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.two-col-grid .card {
  padding: 40px 60px 0 0;
}

.two-col-grid .card:nth-child(odd) {
  clear: both;
}

.two-col-grid .card:nth-child(even) {
    padding-right: 0;
}

.two-col-grid .card .summary {
  border-top: 1px solid #221F20;
  padding: 20px 0 15px;
}

.article-content,
.generic-content {
   padding-bottom: 60px;
}

.article-content article.two-col {
   float: right;
   padding-left: 60px;
}

h2.header-pad {
   padding-bottom: 60px;   
}

.article-content aside {
   padding: 0.5em 0;
}

.event-content aside {
   padding: 1.5em 0 0.5em;  
}

aside h4,
.about-sidebar h2 {
   font-size: 1.25em;
   font-weight: 700;
   margin: 0.6em 0 1.5em;
}

aside .sidebar-block {
   padding-bottom: 1em;
   float: left;
   display: block;
   clear: both;
   width: 100%;
   height: auto;
}

aside .date {
   margin: 0.5em 0 2em;
}

.team-grid {
  max-width: 820px;
}

.team-grid .card {
  float: left;
  width: 100%;
  height: auto;
  clear: both;
  padding-bottom: 20px;
}

.team-grid .card img {
  float: left;
  width: 25%;
  height: auto;
  margin-top: 22px;
  border-radius: 50%;
}

.team-grid .card .text {
  float: left;
  width: 75%;
  height: auto;
  padding-left: 60px;
}

.team-grid .card p {
  line-height: 1.54;
}

.contact-article .half-col:nth-child(odd) {
  padding-right: 30px;
}

.contact-article .half-col:nth-child(even) {
  padding-left: 30px;
}

.coming-block {
  padding-bottom: 20px;
}

.coming-block h2 {
  padding-bottom: 50px;
}

.coming-grid .card {
  float: left;
  width: 48.35%;
  position: relative;
  padding: 0;
  margin-bottom: 40px;
}

.coming-grid .card:nth-child(odd){
  margin-right: 3.3%;
}

.coming-grid .card .summary {
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 200px;
  float: none;
  border-bottom: 1px solid #221F20;
  border-top: 0;
  padding: 30px;
}

.coming-grid .card .summary .date {
  margin-top: 1em;
}

.coming-thumb {
    width: 200px;
}

@media only screen and (max-width: 1200px) {
  .article-content,
  .generic-content,
  h2.header-pad {
     padding-bottom: 50px;
  }
  .three-col-grid .card {
     margin-bottom: 50px;
  }
  .coming-grid .card {
     float: left;
     margin-right: 2.5%;
     margin-bottom: 60px;
     width: 31.667%;
     padding-right: 0;
  }
  .coming-grid .card:nth-child(odd){
    margin-right: 2.5%;
    clear: none;
  }
  .coming-grid .card:nth-child(3n){
     margin-right: 0;
  }
  .coming-grid .card:nth-child(3n+1) {
     clear: both;  
  }
  .coming-thumb {
    width: 100%;
  }
  .coming-grid .card .summary {
     border-left: 1px solid #221F20;
     padding-bottom: 0;
     position: relative;
     left: 0;
     min-height: none;
     border-bottom: 0;
     float: left;
  }
  .coming-block h2 {
    padding-left: 0;
  }
}

@media only screen and (max-width: 960px) {
  .article-content article.two-col {
    padding-left: 50px;
  }
  .single-grid .card {
    width: 100%;
  }
  .team-grid .card .text {
    padding-left: 30px;
  }
  .contact-article .half-col:nth-child(odd),
  .contact-article .half-col:nth-child(even) {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .article-content,
  .generic-content,
  h2.header-pad  {
     padding-bottom: 40px;
  }
  .article-content article.two-col {
    float: left;
    padding-left: 0;
  }
  .team-grid .card {
    text-align: center;
  }
  .team-grid .card img {
    float: none;
    width: 200px;
    text-align: center;
  }
  .team-grid .card .text {
    padding-left: 0;
    width: 100%;
  }
  .single-grid .card img {
    width: 100%;
  }
  .single-grid .card .summary {
    width: 100%;
    position: relative;
    float: none;
    border-left: 1px solid #221F20;
    border-bottom: none;
    padding-bottom: 0;
  }
  .two-col-grid .card {
    padding-right: 0;
  }
  .three-col-grid .card,
  .coming-grid .card {
     margin-bottom: 40px;
     width: 100%;
     margin-right: 0;
  }
  .home-grid .card .summary {
    min-height: 0;
  }
  .coming-grid .card {
  }
  .coming-grid .card:nth-child(odd){
    margin-right: 0;
  }
  .coming-block h2 {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .article-content,
  .generic-content,
  h2.header-pad  {
     padding-bottom: 30px;
  }
  .three-col-grid .card {
     margin-bottom: 30px;
  }
  .single-grid .card {
    margin: 15px 0;
  }
  .coming-block h2 {
    padding-bottom: 30px;
  }
  .coming-grid .card .summary {
    padding: 20px 20px 0 20px;
  }
}

@media only screen and (max-width: 320px) {
}    



/* ==========================================================================
   * 7.  Content blocks
   ========================================================================== */
   


.gallery-block {
   background: #687877;
   color: #ffffff;
   padding: 50px 0;
}

.gallery-block-img img {
   border: 15px solid #ffffff;
}

.gallery-info {
   float: right;
   padding: 0 60px;
}

.gallery-info-donate {
   padding: 20px 60px;
}

.gallery-info p {
   font-size: 1.25em;
   margin-top: 0.5em;
}

.gallery-info ul {
   list-style-type: none;
   padding: 0;
   font-size: 1.1em;
   margin-bottom: 0;
}

.gallery-info ul li {
   padding: 0.2em 0;
}

.gallery-info ul li a {
   color: #ffffff;
}

.gallery-info .btn {
   margin: 0.7em 0 0;
}

.secondary-nav {
   background: #F5F5F5;
}

@media only screen and (max-width: 960px) {
   .gallery-info {
      float: left;
      padding: 20px 0 0;
      clear: both;
      width: 100%;
   }
   .gallery-block-img {
    width: 100%;
    max-width: 400px;
   }
   .gallery-block-img img {
    border: 10px solid #ffffff;
  }
}

@media only screen and (max-width: 768px) {
  .gallery-block {
     padding: 40px 0;
  }
  .gallery-info p {
  font-size: 1.1em;
  }
}

@media only screen and (max-width: 480px) {
    .gallery-block-img img {
      border: 6px solid #ffffff;
    }
    .gallery-block {
       padding: 30px 0;
    }
}

@media only screen and (max-width: 320px) {
}    




/* ==========================================================================
   * 8.  Gallery
   ========================================================================== */
   
.gallery-content {
   background: #eee;
}

.gallery {
   padding: 60px 0;
}

.video-content {
   background: #222;
}

.gallery-img-container,
.gallery-meta,
.video-container {
   margin: 0 16%;
   width: 68%;
   position: relative;
   background: #ffffff;
}

.video-container {
   background: transparent;
}

.video-container iframe {
   margin: 60px 0 20px;
}

.video-spacer {
  display: block;
  float: left;
  width: 100%;
  height: 40px;
  clear: both;
}

.video-container figcaption p {
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 2em;
}

.video-container figcaption p a {
  color: #FFFFFF;
}

.gallery-img {
   position: absolute;
   bottom: 0;
   top: 0;
   max-height: 100%;
   margin: auto;
   left: 0;
   right: 0;
}

.gallery-meta {
   padding: 20px 25px 15px;
   overflow: hidden;
}

.dot-display {
   float: left;
   font-size: 1.1em;
   padding: 12px 5px;
}

.gallery-nav {
   float: right;
}

.prev-arrow,
.next-arrow {
   display: inline;
   cursor: pointer;
}

.prev-arrow:before,
.next-arrow:before {
   font-family: FontAwesome;
   font-size: 2.4em;
   line-height: 1;
   opacity: 1;
   color: #222;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.prev-arrow:before {
   content: "\f104";
   padding-right: 0.3em;
}

.next-arrow:before {
   content: "\f105";
   padding-left: 0.3em;
}

.gallery figcaption {
   width: 50%;
   margin: 0 25%;
   text-align: center;
}

.gallery figcaption p {
   margin: 0.75em 0;
}

@media only screen and (max-width: 1200px) {
  .gallery {
    padding: 50px 0;
  }
  .video-container iframe {
    margin: 50px 0 10px;
  }
  .video-container figcaption p {
    margin: 0.5em 0 1.5em;
  }
}

@media only screen and (max-width: 960px) {
  .gallery-img-container,
  .gallery-meta,
  .video-container {
     margin: 0 10%;
     width: 80%;
  }
  
}

@media only screen and (max-width: 768px) {
  .gallery {
    padding: 40px 0;
  }
  .video-container iframe {
    margin: 40px 0 10px;
  }
  .video-spacer {
    height: 30px;
  }
  .gallery-img-container,
  .gallery-meta,
  .video-container {
     margin: 0;
     width: 100%;
  }
  .gallery figcaption {
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    text-align: left;
  }
}

@media only screen and (max-width: 480px) {
  .gallery {
    padding: 30px 0;
  }
  .video-container iframe {
    margin: 30px 0 10px;
  }
  .video-spacer {
    height: 20px;
  }
  .gallery-meta {
    padding: 15px 18px 10px;
    position: relative;
  }
  .dot-display {
   float: none;
   text-align: center;
  }
  .gallery-nav {
    position: absolute;
    width: 100%;
    top: 18px;
    left: 0;
  }
  .prev-arrow,
  .next-arrow {
    position: absolute;
    top: 0;
  }
  .prev-arrow {
    left: 18px;
  }
  .next-arrow {
    right: 18px;
  }
  .prev-arrow:before,
  .next-arrow:before {
    padding: 0;
  }

}

@media only screen and (max-width: 320px) {
}    




/* ==========================================================================
   * 9.  Footer
   ========================================================================== */

.upper-footer {
   background: #F3F3F3;
   padding: 50px 0 44px;
}

.footer-grid .card {
   margin-bottom: 0;
}

.footer-grid .card .summary {
   padding-top: 0;
   padding-bottom: 0;
   border: none;
}

.footer-grid .summary h2 {
   color: #222222;
   font-style: normal;
   margin: 0 0 1.5em;
}

.footer-grid .summary p {
   font-size: 1em;
}

footer {
   background: #000000;
   padding: 40px 0 120px;
   color: #ffffff;
}

.footer-left {
  float: left;
  max-width: 420px;
}

.footer-right {
  float: right;
  text-align: right;
}

.footer-logo {
   float: left;
   width: 253px;
   margin-top: 16px;
}

footer p a {
  color: #FFFFFF;
}


@media only screen and (max-width: 960px) {
  .footer-grid .card .summary {
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .footer-grid .card .summary {
    padding: 20px 0;
  }
  .footer-right {
    clear: both;
    float: left;
    text-align: left;
    padding-top: 1.5em;
  }
  .upper-footer {
     padding: 30px 0 24px;
  }
}

@media only screen and (max-width: 480px) {
  .footer-grid .card .summary {
    padding: 15px 0;
  }
}

@media only screen and (max-width: 320px) {
}    



/* ==========================================================================
   * 10.  Forms
   ========================================================================== */

form {
   padding-bottom: 4px;
}
input {
   padding: 0.5em 0.7em;
   font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

.mc4wp-form-fields input[type=email] {
   max-width: 205px;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    border-radius: 0;
}

.mc4wp-form-fields input[type=submit] {
   text-decoration: underline;
   padding-left: 8px;
   cursor: pointer;
   border: 0 none;
   background: none;
   background-color: transparent;
   font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.select td {
    position: relative;
}    .select select {
        font-family: 'Nunito', Helvetica, Arial, sans-serif;
        font-size: 0.9em;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 35px 10px 10px;
        outline: 0;
        border: 1px solid #DDDDDD;
        border-radius: 3px;
        background: #F3F3F3;
        color: #333333;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #EEEEEE;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7B7B7B transparent transparent transparent;
}
.select .btn {
    margin-top: 12px;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}

.btn {
   display: inline-block;
   width: auto;
   color: #FFF;
   text-decoration: none;
   padding: 0.75em 1.5em;
   background: #2F5E85;
   border: 1px solid #2F5E85;
   font-weight: 700;
   border-radius: 30px;
   font-size: 0.95em;
   text-align: center;
}

.btn:hover {
   background: #eee;
   color: #2F5E85;
   border: 1px solid #DDD;
}

.btn,
.btn:hover {
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
} 
   
@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
   


/* ==========================================================================
   * 11.  Generic styles
   ========================================================================== */
   

.alignleft,
.alignright {
   max-width: 45%;
   height: auto;
}

.alignleft {
   float: left;
   padding: 0 1.5em 1.5em 0;
}

.alignright {
   float: right;
   padding: 0 0 1.5em 1.5em;
}

.google-maps {
  position: relative;
  padding-bottom: 100%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  margin-top: 20px;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.card a img,
.hero-tabs a img,
.card a img:hover,
.hero-tabs a img:hover {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hero-tabs a img:hover {
  opacity: 0.9;
}

.card a img:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}


/* End CSS */